* {
  box-sizing: border-box;
}
body {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-align: center;
}
main {
  /* height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main img {
  width: 500px;
  height: 500px;
  /* position: absolute; */
  /* left: 200px; */
}
.type {
  border: 1px solid red;
  font-size: 55px;
  font-weight: 600;
  /* position: absolute; */
  /* left: 700px; */
}
.ment {
  border: 1px solid blue;
  padding: 15px;
  font-size: 25px;
  /* position: absolute; */
  /* left: 600px; */
  /* bottom: 280px; */
}