* {
  box-sizing: border-box;
}
body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(images/back4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c19a6b;
  color: #000;
  margin: 0;
  padding: 0;
}
.noto-serif-sc-regular {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #000;
  text-decoration: none;
}
header {
  height: 75px;
  width: 1400px;
  margin: auto;
  overflow: hidden;
  line-height: 20px;
}
.nav {
  list-style: none;
  padding: 20px 250px 0 0;
  margin: 0;
  display: flex;
  float: left;
  overflow: hidden;
  height: 80px;
  margin-top: 10px;
}
.nav li {
  padding-left: 30px;
  padding-top: 5px;
  width: 200px;
}
.nav li a {
  font-size: 17px;
}
.nav li a:hover {
  color: #fab25b;
  transition: 0.3s;
  text-shadow: 0 0 10px #ffffffb4;
}
.btn {
  position: relative;
  height: 60px;
  float: right;
  padding: 5px 20px 0 0;
  margin-top: 15px;
}
.btn input {
  position: relative;
  width: 150px;
  height: 45px;
  border-radius: 20px;
  outline: none;
  appearance: none;
  font-weight: bold;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: #fab25b;
}
.btn input::before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.btn input:before{
  content: "KR";
  left: 31px;
}
.btn input::after{
  content: "CN";
  right: 31px;
}
.btn label {
  z-index: 1;
  position: absolute;
  top: 11px;
  bottom: 11px;
  border-radius: 20px;
}
.btn .btn-1 input {
  transition: 0.2s -0.1s;
}
.btn .btn-1 input:checked{
  background: #fab25b;
}
.btn.btn-1 input:checked::before{
  color: #000000;
  transition: color 0.5s 0.2s;
}
.btn .btn-1 input:checked::after{
  color: #fff;
  transition: color 0.5s;
}
.btn.btn-1 input:checked + label {
  left: 9px;
  right: 95px;
  background: #F0F0F3;
  transition: left 0.5s, right 0.4s 0.2s;
}
.btn.btn-1 input:not(:checked){
  background: #F0F0F3;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked)::before{
  color: #000;
  transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label {
  left: 80px;
  right: 30px;
  background: #fab25b;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
section {
  width: 1550px;
  position: relative;
  height: auto;
  margin: auto;
}
.character_select {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  height: 100%;
}
.character_select img {
  width: 250px;
  height: 300px;
  margin: 20px;
}
.character:hover {
  z-index: 2;
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
}
footer {
  /* border: 1px solid red; */
  text-align: center;
  width: 1550px;
  margin: auto;
  margin-top: 40px;
}
.go_btn {
  width: 280px;
  height: 90px;
  border-radius: 50px;
  border: none;
  background-color: #f0f0f3;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-family: "omnigothic", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
}
.go_btn:hover {
  background-color: #fab25b;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
/* popup */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000084;
  display: none;
}
.introduce {
  position: absolute;
  width: 400px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.one {
  top: 13%;
  left: 4%;
  border-radius: 50px 50px 0 50px;
}
.two {
  top: 28%;
  left: 27%;
  border-radius: 0 50px 50px 50px;
}
.three {
  top: 17%;
  right: 23%;
  border-radius: 50px 0 50px 50px;
}
.four {
  top: 30%;
  right: 4%;
  border-radius: 50px 50px 50px 0;
}
/* .name {
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}
.character_name {
  width: 280px;
  height: 90px;
  border-radius: 50px;
  border: none;
  background-color: #fab25b;
  color: #fff;
  line-height: 90px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-family: "omnigothic", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin: auto;
} */