* {
  box-sizing: border-box;
}
body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f3f3f3;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
}
header {
  height: 60px;
  overflow: hidden;
}
.nav {
  list-style: none;
  padding: 20px 250px 0 0;
  margin: 0;
  display: flex;
  float: left;
  overflow: hidden;
  height: 60px;
}
.nav li {
  width: 200px;
  padding-left: 30px;
  padding-top: 5px;
}
.nav li a {
  font-size: 15px;
}
.nav li a:hover {
  color: #f86551;
  transition: 0.3s;
}
section {
  text-align: center;
}
.titles {
  margin: 10px;
  width: 1200px;
  margin: auto;
}
.titles div {
  /* border: 1px solid red; */
  width: 230px;
  height: 250px;
  margin: auto;
}
.character_image {
  width: 230px;
  height: 250px;
  /* border: 1px solid red; */
}
.type {
  font-size: 35px;
  margin-top: 40px;
}
/* 랭크 */
.rank {
  background-color: #e5e5e5;
  border-radius: 40px;
  width: 1100px;
  margin: auto;
  border: 1px solid rgba(255, 0, 0, 0);
  padding: 30px;
}
.ask {
  margin-top: 10px;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}
.ranks {
  overflow: hidden;
  width: 900px;
  margin: auto;
}
.ranks div {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  margin: 20px;
  align-items: center;
}
.ranks h1 {
  background: #fab25b;
  color: #fff;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  padding: 10px;
  font-size: 25px;
  margin-left: 30px;
  line-height: 35px;
}
.rank_name {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
}
.types {
  color: #7a7a7a;
  margin-left: auto;
  margin-right: 30px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
}
.rank6 {
  border: 2px solid #fab25b;
}

/* 나의 한마디 */
.reviews {
  background-color: #e5e5e5;
  border-radius: 40px;
  width: 1100px;
  margin: auto;
  border: 1px solid rgba(255, 0, 0, 0);
  margin-top: 30px;
  padding: 30px;
}
.review {
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
} 
.users {
  overflow: hidden;
  width: 900px;
  margin: auto;
}
.users div {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  margin: 20px;
  align-items: center;
}
.users i {
  color: #fab25b;
  margin-right: 10px;
  font-size: 25px;
}
#user_name {
  padding: 10px;
  font-size: 20px;
  margin-left: 30px;
}
#ment {
  font-size: 20px;
  font-weight: 300;
}

/* 번역토글 */
.btn {
  position: relative;
  height: 65px;
  float: right;
  padding: 5px 20px 0 0;
  margin-left: auto;
  margin-right: 10px;
  padding: 15px;
}
.btn input {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  appearance: none;
  font-weight: bold;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.btn input::before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.btn input:before{
  content: "CN";
  left: 20px;
}
.btn input::after{
  content: "KR";
  right: 20px;
}
.btn label {
  z-index: 1;
  position: absolute;
  top: 13px;
  bottom: 31px;
  border-radius: 20px;
}
.btn .btn-1 input {
  transition: 0.2s -0.1s;
}
.btn .btn-1 input:checked{
  background: #fab25b;
}
.btn.btn-1 input:checked::before{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn .btn-1 input:checked::after{
  color: #fff;
  transition: color 0.5s;
}
.btn.btn-1 input:checked + label {
  left: 25px;
  right: 65px;
  background: #fab25b;
  transition: left 0.5s, right 0.4s 0.2s;
  padding: 15px;
  margin-top: 5px;
}
.btn.btn-1 input:not(:checked){
  background: #F0F0F3;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked)::before{
  color: #000;
  transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label {
  left: 65px;
  right: 25px;
  background: #fab25b;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
  padding: 15px;
  margin-top: 5px;
}

/* 페이지 수 (추가) */
.page {
  display: flex;
  border-bottom: 1px solid #7a7a7a;
  padding: 5px;
  /* border: 1px solid red; */
  text-align: center;
  justify-content: center;
}
.page img {
  width: 15px;
  cursor: pointer;
}
.page p {
  padding: 5px;
  cursor: pointer;
}
.page p:hover {
  color: #fab25b;
}
/* input */
input[type=text] {
  border-radius: 40px;
  border: none;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  width: 850px;
  height: 60px;
  background-color: #c9c9c9;
  color: #000;
  margin-top: 20px;
}
input::placeholder {
  opacity: 1;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}
.push {
  width: 95px;
  height: 60px;
  font-size: 16px;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 40px;
  background-color: #fab25b;
  color: #fff;
}
.push:hover {
  transition: 0.3s;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
  background-color: #c9c9c9;
  cursor: pointer;
}