* {
  box-sizing: border-box;
}
body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #862929 30%, #d7874a 100%);
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  max-width: 1400px;
  height: 75px;
  margin: auto;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 30px;
}
.nav {
  list-style: none;
  padding: 20px 250px 0 0;
  margin: 0;
  display: flex;
  float: left;
  overflow: hidden;
  height: 80px;
  margin-top: 10px;
}
.nav li {
  padding-left: 30px;
  padding-top: 5px;
  width: 200px;
}
.nav li a {
  font-size: 17px;
}
.nav li a:hover {
  color: #be3f3f;
  transition: 0.3s;
}
section {
  text-align: center;
}
.titles {
  margin: 10px;
  width: 1200px;
  margin: auto;
}
.titles div {
  /* border: 1px solid red; */
  width: 230px;
  height: 250px;
  margin: auto;
}
.character_image {
  width: 230px;
  height: 250px;
  /* border: 1px solid red; */
}
.type {
  font-size: 35px;
  margin-top: 40px;
}
/* 랭크 */
.rank {
  /* background-color: #ffffff; */
  border-radius: 40px;
  width: 1100px;
  margin: auto;
  /* border: 2px solid #fff; */
  padding: 30px;
  box-shadow: rgba(9, 30, 66, 0.358) 0px 4px 8px -2px, rgba(9, 30, 66, 0.153) 0px 0px 0px 1px;
}
.ask {
  margin-top: 25px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
}
.ranks {
  overflow: hidden;
  width: 900px;
  margin: auto;
}
.ranks div {
  /* background-color: #fefefe; */
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  margin: 20px;
  align-items: center;
}
.ranks h1 {
  background: #eb8745;
  color: #fff;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  padding: 10px;
  font-size: 25px;
  margin-left: 30px;
  line-height: 35px;
}
.rank_name {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  color: #fff;
}
.types {
  color: #000;
  margin-left: auto;
  margin-right: 30px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
}
.rank6 {
  background-color: #fff;
  color: #000;
}

/* 나의 한마디 */
.reviews {
  border-radius: 40px;
  width: 1100px;
  margin: auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 30px;
  padding: 30px;
}
.review {
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
  color: #fff;
} 
.users {
  overflow: hidden;
  width: 900px;
  margin: auto;
}
.users div {
  flex-wrap: wrap;
  border-radius: 40px;
  border: 1px solid #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  margin: 20px;
  align-items: center;
  padding: 0 30px;
}
.user_name {
  flex: 0 0 auto; /* 유연한 크기 조정을 방지하고, 내용이 넘쳐도 줄바꿈되지 않음 */
  display: flex; /* flexbox 레이아웃 적용 */
  align-items: center; /* 아이콘과 텍스트 중앙 정렬 */
  flex-shrink: 0; /* 내용이 넘쳐도 줄바꿈 방지 */
  white-space: nowrap; /* 닉네임이 한 줄로 유지되도록 */
  padding: 10px;
  font-size: 20px;
}
.user_name i {
  color: #fff;
  margin-right: 10px;
  font-size: 25px;
}
.users a {
  /* border: 1px solid red; */
  color: #fff;
  font-size: 25px;
  margin-left: auto;
  padding-left: 10px;
  float: left;
}
.ment {
  flex: 1; /* 남은 공간을 모두 차지하되, 필요한 경우 줄바꿈 */
  font-size: 20px;
  font-weight: 300;
  white-space: inherit;
}

/* 번역토글 */
/* .btn {
  position: relative;
  height: 65px;
  float: right;
  padding: 5px 20px 0 0;
  margin-left: auto;
  margin-right: 10px;
  padding: 15px;
}
.btn input {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  appearance: none;
  font-weight: bold;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.btn input::before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.btn input:before{
  content: "CN";
  left: 20px;
}
.btn input::after{
  content: "KR";
  right: 20px;
}
.btn label {
  z-index: 1;
  position: absolute;
  top: 13px;
  bottom: 31px;
  border-radius: 20px;
}
.btn .btn-1 input {
  transition: 0.2s -0.1s;
}
.btn .btn-1 input:checked{
  background: #fab25b;
}
.btn.btn-1 input:checked::before{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn .btn-1 input:checked::after{
  color: #fff;
  transition: color 0.5s;
}
.btn.btn-1 input:checked + label {
  left: 25px;
  right: 65px;
  background: #fab25b;
  transition: left 0.5s, right 0.4s 0.2s;
  padding: 15px;
  margin-top: 5px;
}
.btn.btn-1 input:not(:checked){
  background: #F0F0F3;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked)::before{
  color: #000;
  transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label {
  left: 65px;
  right: 25px;
  background: #fab25b;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
  padding: 15px;
  margin-top: 5px;
} */

/* 페이지 수 (추가) */
.page {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  /* border: 1px solid red; */
  text-align: center;
  justify-content: center;
}
.page img {
  width: 15px;
  cursor: pointer;
}
.page p {
  padding: 5px;
  cursor: pointer;
}
.page p:hover {
  color: #fab25b;
}
/* input */
input[type=text] {
  border-radius: 40px;
  border: none;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  width: 850px;
  height: 60px;
  background-color: #ffffff;
  color: #000;
  margin-top: 20px;
}
input::placeholder {
  opacity: 1;
  transition: 0.3s;
}
.reviews input[type=text]:focus {
  border: 2px solid #fab25b;
}
input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}
.push {
  width: 95px;
  height: 60px;
  font-size: 16px;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  background-color: #ffffff00;
}
.push:hover {
  transition: 0.3s;
  /* border: 1px solid #3f3f3f; */
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.chineseFont {
  font-family: "source-han-sans-cn-variable", sans-serif;
  font-variation-settings: "wght" 250;
}

body.chineseFont .nav {
  font-variation-settings: 'wght' 700;
}

body.chineseFont .type {
  font-variation-settings: 'wght' 700;
}

body.chineseFont .ask {
  font-variation-settings: 'wght' 400; 
}

body.chineseFont .rank_name {
  font-variation-settings: 'wght' 400;
}

body.chineseFont .types {
  font-variation-settings: 'wght' 400;
}
body.chineseFont .review  {
  font-variation-settings: 'wght' 400;
}