* {
  box-sizing: border-box;
}
body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, #862929 30%, #d7874a 100%);
  height: 100vh;
  background-attachment: fixed;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  max-width: 1400px;
  height: 75px;
  margin: auto;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 30px;
}
.nav {
  list-style: none;
  padding: 20px 250px 0 0;
  margin: 0;
  display: flex;
  float: left;
  overflow: hidden;
  height: 80px;
  margin-top: 10px;
}
.nav li {
  padding-left: 30px;
  padding-top: 5px;
  width: 200px;
}
.nav li a {
  font-size: 17px;
}
.nav li a:hover {
  color: #be3f3f;
  transition: 0.3s;
}
.btn {
  position: relative;
  height: 60px;
  float: right;
  padding: 5px 20px 0 0;
  margin-top: 15px;
}
.btn input {
  position: relative;
  width: 150px;
  height: 45px;
  border-radius: 20px;
  outline: none;
  appearance: none;
  font-weight: bold;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: #F0F0F3;
}
.btn input::before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.btn input:before{
  content: "KR";
  left: 31px;
}
.btn input::after{
  content: "CN";
  right: 31px;
}
.btn label {
  z-index: 1;
  position: absolute;
  top: 11px;
  bottom: 11px;
  border-radius: 20px;
}
.btn .btn-1 input {
  transition: 0.2s -0.1s;
}
.btn .btn-1 input:checked{
  background: #F0F0F3;
}
.btn.btn-1 input:checked::before{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn .btn-1 input:checked::after{
  color: #fff;
  transition: color 0.5s;
}
.btn.btn-1 input:checked + label {
  left: 9px;
  right: 95px;
  background: #be3f3f;
  transition: left 0.5s, right 0.4s 0.2s;
}
.btn.btn-1 input:not(:checked){
  background: #be3f3f;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked)::before{
  color: #000;
  transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
  color: #000;
  transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label {
  left: 80px;
  right: 30px;
  background: #F0F0F3;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
section {
  text-align: center;
  position: relative;
  border: 1px solid rgba(255, 0, 0, 0);
  max-width: 1280px;
  height: 600px;
  margin: auto;
}
.goq {
  width: 200px;
  height: 50px;
  margin: 20px;
}
.goq button:hover {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}
section button {
  border: 1px solid #fff;
  background-color: #f0f0f300;
  color: #fff;
  border-radius: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 200px;
  height: 50px;
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
}
.tabs{
  overflow-y: auto;
}
.tabs > p {
  width: 940px;
  height: 95px;
  background-color: #be3f3f00;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 40px;
  overflow: hidden;
  font-size: 20px;
  font-weight: 300;
  margin: auto;
  margin-top: 200px;
}
footer {
  margin-top: 70px;
}
.select {
  list-style: none;
  display: flex;
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}
.select li {
  background-color: #fff;
  text-align: center;
  width: 245px;
  height: 65px;
  border-radius: 50px;
  padding: 23px;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s;
}
.select li:hover {
  color: #eb8745;
  border: 1px solid #eb8745;
}
.select li.active {
  background-color: #eb8745;
  color: #fff;
}

/* tab */
.story-item {
  clear: both; /* 플로팅 해제 */
  margin-bottom: 20px; /* 각 항목 사이의 간격 */
}
.tabs > div {
  display: none;
  margin: 20px;
  width: auto;
  height: 480px;
  overflow-y: auto;
  padding-bottom: 10px;
}
.tabs > div.active {
  display: block;
}

/* 답안이 1개 + 이미지 */
.wen {
  background-color: #eb8745;
  color: #fff;
  border-radius: 40px 40px 0 40px;
  padding: 25px 40px;
  float: right;
  margin: 20px 10px;
  display: block;
}
.da {
  background-color: #fff;
  border-radius: 0 40px 40px 40px;
  padding: 30px;
  letter-spacing: normal;
  line-height: 1.7;
  margin: 20px 10px;
  width: 800px;
  font-weight: 500;
  text-align: left;
  clear: both;
}
.story_img {
  background-color: #fff;
  width: 450px;
  height: 450px;
  border-radius: 0 40px 40px 40px;
  margin: 20px 10px;
}
.story_img img {
  /* width: 400px;
  height: 400px; */
  height: 400px;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}

/* 답안이 2개 + 이미지 */
/* #tab2, #tab3 {
  overflow: hidden;
  overflow-y: scroll;
}
#tab2 div, #tab3 div {
  overflow: hidden;
}
.da_short {
  padding: 25px 40px;
  background-color: #fff;
  border-radius: 0 40px 40px 40px;
  margin-top: 90px;
  margin-left: 10px;
  padding: 25px 40px;
  float: left;
}
.da_long {
  background-color: #fff;
  border-radius: 0 40px 40px 40px;
  padding: 30px;
  margin-top: 190px;
  margin-left: 10px;
  text-align: left;
  width: 800px;
}
.story_img_long {
  background-color: #fff;
  width: 450px;
  height: 450px;
  border-radius: 0 40px 40px 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.story_img_long img {
  width: 400px;
  height: 400px;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
} */
.noto-serif-sc-regular {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}