* {
  box-sizing: border-box;
}
body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #862929 30%, #d7874a 100%);
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
section {
  text-align: center;
}
.number {
  font-size: 40px;
}
.question {
  font-size: 35px;
  font-weight: 300;
}
.answer {
  margin-top: 100px;
}
.answer div {
  background-color: #ffffff00;
  border: 1px solid #fff;
  border-radius: 40px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 30px;
}
.answer input[type=radio] {
  display: none;
}
.answer label {
  display: block;
  border-radius: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 78px;
  font-size: 25px;
  font-weight: 300;
}
.answer input + .radio_label {
  border: 2px solid transparent;
}
.answer input:hover + .radio_label {
  color: #000000;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.answer input:checked + .radio_label {
  background: #fab25b;
  color: #fff;
}
.an {
  display: none;
}
.ox {
  font-size: 50px;
  color: #fab25b;
}
.content {
  font-size: 30px;
  font-weight: 300;
  width: 900px;
}
#next_btn {
  width: 287px;
  height: 90px;
  border-radius: 50px;
  border: none;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-family: "omnigothic", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 70px;
}
#next_btn:hover {
  background-color: #fab25b;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}
.noto-serif-sc-regular {
  font-family: "source-han-sans-cn-variable", sans-serif;
  font-variation-settings: "wght" 250;
}